.beautypress-header-section.beautypress-header-version-4 .beautypress-main-header .xs-navigation-middle-menu.xs_nav-landscape .nav-menu li a {
  color: #FFFFFF;
  /*border-color: transparent;*/
}

.beautypress-header-section.beautypress-header-version-4 .beautypress-main-header .xs-navigation-middle-menu.xs_nav-landscape .nav-menu li .nav-submenu li a {
  color: #222222;
}

.beautypress-header-section.beautypress-header-version-4 .beautypress-main-header .xs-navigation-middle-menu.xs_nav-landscape .nav-menu li .nav-submenu li a:hover {
  color: #590D88;
}

.beautypress-main-header.bg-color-cyan .nav-menu .submenu-indicator-chevron {
  border-color: transparent #FFFFFF #FFFFFF transparent;
}

.beautypress-main-header.bg-color-cyan .xs-navigation-middle-menu.xs_nav-landscape .nav-menu .nav-submenu {
  background-color: #FFFFFF;
}

/*.beautypress-header-section.beautypress-header-version-4 .beautypress-main-header .xs-navigation-middle-menu.xs_nav-landscape .nav-menu li a:hover {
	color: $color-purple;
}*/
.beautypress-header-section.beautypress-header-version-4 .beautypress-version-2.beautypress-logo {
  top: 0;
  width: 100%;
  padding: 0;
}

.xs-navigation-middle-menu .xs-row {
  width: 100%;
}

.xs-navigation-middle-menu .xs-row .xs-col-2 {
  position: relative;
  display: block;
  height: 100%;
}

.beautypress-header-section.beautypress-header-version-4 .nav-header .xs-nav-logo {
  display: none;
}
