@import "./_colourtheme.scss";

.pr-bg-color {
    background-color: $purple-dark;
}

.pr-text-primary {
    color: $purple-dark;
}

.pr-display-center{
    display: table !important;
}

.pr-bdr-primary{
    border-color: $purple-dark;
}

.pr-small-text {
 font-size: x-small;
}