@import "_colourtheme.scss";

#pr-wrapper{
    padding: 20px 20px 20px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #d7d5d5;
    position: relative;
}

.pr-module {
    padding: 15px;
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccbcb;
    text-align: left;
}

.pr-module-dark {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 15px;
    background: $purple-dark;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccbcb;
    text-align: left;
}

.col {
    padding-bottom: 15px;
}

.pr-module .pr-title {
    color: #724B73;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;    
}

.pr-module-dark .pr-title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;    
}

.item-title {
    margin-bottom: 1em;
    margin-left: 1em;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
}

.item-title span {
    background: url(../Images/Site/flyer_arrow.png) no-repeat left 50%;
    padding: 0 0 0 12px;
    margin: 0 0 0 5px;
}

.item-tooltip {
    font-style: italic;
    text-align: left;    
    font-size: 0.8em;
    margin-left: 1em;
}

.item-desc {
    text-align: left;    
    font-size: 0.9em;
    margin-left: 1em;
}

.item-img {
    cursor: pointer;
    width: 158px;
}

.item-name {
    color: #724B73;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    text-align: center;
    font-size: 0.8em;
}

.item-details {
    font-size: 0.8em;
}