#pr-wrapper{
    padding: 20px 20px 20px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #d7d5d5;
    position: relative;
}

.pr-module {
    padding: 15px;
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccbcb;
}

.col {
    padding-bottom: 15px;
}