.pr-flyer-in ul{    
    margin: 5px 0;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
}

.pr-flyer-in ul li {
    background-image: url(../Images/Site/li.png);
    background-repeat: no-repeat;
    background-position: left 6px;
    padding: 0 0 0 15px;
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 1.5em;
}

.pr-flyer-in-dark .margin-left {
margin-left:  0px !important ;
}

.pr-flyer-in {
    background: none !important;
    filter: none;
    border: none;
    padding: 0;
    line-height: 1.5em;
}

.pr-flyer-in-dark {
    color: #fff;
}

.pr-flyer-in-dark p {
    color: #fff;
}

.pr-flyer-in-dark ul{    
    margin: 5px 0;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
}

.pr-flyer-in-dark ul li {
    background-image: url(../Images/Site/li.png);
    background-repeat: no-repeat;
    background-position: left 6px;
    padding: 0 0 0 15px;
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 1.5em;
}

.pr-flyer-in-dark .item-name {
    color: #F39FB8;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    text-align: center;
    font-size: 0.8em;
}

.pag-links span {
    background: #c5c5c5;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}