.pr-flyer-in ul{    
    margin: 5px 0;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
}

.pr-flyer-in ul li {
    background-image: url(../Images/Site/li.png);
    background-repeat: no-repeat;
    background-position: left 6px;
    padding: 0 0 0 15px;
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 1.5em;
}

.pr-flyer-in-dark .margin-left {
margin-left:  0px !important ;
}

.pr-flyer-in {
    background: none !important;
    filter: none;
    border: none;
    padding: 0;
    line-height: 1.5em;
}

.pr-flyer-in-dark {
    color: #fff;
}

.pr-flyer-in-dark p {
    color: #fff;
}

.page-header h2{
 text-align: left;
 font-size: 1.5em;
}

.pr-flyer-in-dark ul{    
    margin: 5px 0;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0;
}

.pr-flyer-in-dark ul li {
    background-image: url(../Images/Site/li.png);
    background-repeat: no-repeat;
    background-position: left 6px;
    padding: 0 0 0 15px;
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 1.5em;
}

.pr-flyer-in-dark .item-name {
    color: #F39FB8;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    text-align: center;
    font-size: 0.8em;
}

.pag-links span {
    background: #c5c5c5;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}


.pr-block span {
    background: #ddd;
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
}


.pr-box .pr-module{
    height: 140px;
    text-align: center;
    margin: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pr-block p{
    color: #6a6a6a;
    text-align: left;
    padding-top: 0.5em;
    margin-left: 2em;
}

.pdf-download {
    color: #6a6a6a;
    text-decoration: none;
    text-align: center;
}

.border-img {
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 4px;
}

.booking-middle-row {
    height: 80px;
}

a.readmore:hover, a.readmore2:hover, p.readmore a.btn:hover {
    text-decoration: none;
    background: #915f92;
}

.readmore {
    text-decoration: none;
    background: #915f92;
    border: 1px solid #583459;
    font-size: 13px;
    display: inline-block;
    color: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 0 15px;
    display: inline-block;
    -webkit-transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    margin: 10px 0 0;
}